@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Style.css">
    <title>Advantshop</title>
</head>
<body>
    <div class="logo">
        <div class="container">
            <div class="logo__inner">
                <div class="fullcatalog">
                    @foreach (var ctg in ViewBag.Category)
                    {
                        <a class="fullcatalog_a">@ctg.Name</a>
                    }
                </div>
                <div class="logotip">
                    <h1 class="logotip__sign">Ноутбуки, планшеты <br>и компьютеры</h1>
                    <h3 class="logotip__sign">Верные помощники для удалёнки!</h3>
                    <a class="logotip__sign">Посмотреть каталог</a>
                </div>
            </div>
        </div>
    </div>

    <div class="base">
        <div class="leftside">
            <div class="container">
                <div class="articles">
                    <h3>Статьи</h3>
                    <div class="articles__news">Меган Фокс в апрельском номере журнала Jalous<br><span class="articles__date">03 апреля 2015</span></div>
                    <div class="articles__news">Состоялся показ Armani Prive на неделе высокой моды в Париже<br><span class="articles__date">11 марта 2015</span></div>
                    <div class="articles__news">Облачные перспективы Windows-8 <br><span class="articles__date">11 февраля 2015</span></div>
                    <a class="articles__allnews">Все новости</a>
                </div>
                <div class="checkstatus">
                    <h4>Проверить<br>статут заказа</h4>
                    <input class="checkstatus__input" type="text" placeholder="Введите номер заказа"> <br>
                    <button class="button">Проверить</button>
                </div>
                <div class="survey">
                    <form>
                        <h3>Опрос</h3>
                        <h4>Как вам новый дизайн?</h4>
                        <div class="survey__answer">
                            <div class="survey__fix">
                                <input class="survey__input" type="radio" name="answer" value="a1">
                                <div class="survey__form"><span>Очень удобно!</span></div>
                            </div>
                            <div class="survey__fix">
                                <input class="survey__input" type="radio" name="answer" value="a2">
                                <div class="survey__form"><span>Не пользуюсь, хватает одной темы</span></div>
                            </div>
                            <div class="survey__fix">
                                <input class="survey__input" type="radio" name="answer" value="a3">
                                <div class="survey__form"><span>Что такое трансформер?</span></div>
                            </div>
                        </div>
                        <button class="button">Голосовать</button>
                </div>
                <div class="advk">
                    <img src="../img/vk.png">
                </div>
            </div>
        </div>
        <div class="rightside">
            <div class="benefits">
                <div class="container">
                    <div class="benefits__inner">
                        <div class="benefits__info">
                            <img class="benefits__img" src="../img/vectors/procent.png" alt="procent">
                            <span class="benefit__sign"><br>Акции и скидки для постоянных клиентов</span>
                        </div>
                        <div class="benefits__info">
                            <img class="benefits__img" src="../img/vectors/star.png" alt="star">
                            <span class="benefit__sign"><br>Качественные услуги и сервис</span>
                        </div>
                        <div class="benefits__info">
                            <img class="benefits__img" src="../img/vectors/Vector.png" alt="Vector">
                            <span class="benefit__sign"><br>Широкий ассортимент товаров</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popular">
                <div class="container">
                    <h3>Популярные категории</h3>
                    <div class="category">
                        <div class="firstrow">
                            @{int i = 0;
                                foreach (var ctg in ViewBag.Category)
                                {
                                    if (ctg.UrlPath.Equals("")) { continue; }
                                    if (i++ > 2) { break; }
                                    <div class="popular__category">
                                        <div class="category__ramka">
                                            <img src="@ctg.UrlPath" class="category__img">
                                            <h6 class="category__name">@ctg.Name</h6>
                                        </div>
                                    </div>
                                }
                            }


                        </div>

                        <div class="secondrow">
                            @{ i = 0;
                                foreach (var ctg in ViewBag.Category)
                                {
                                    if (ctg.UrlPath.Equals("")) { continue; }
                                    if (i++ < 3) { continue; }
                                    else if (i++ > 8) { break; }
                                    <div class="popular__category">
                                        <div class="category__ramka">
                                            <img src="@ctg.UrlPath" class="category__img">
                                            <h6 class="category__name">@ctg.Name</h6>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="container">
                    <div class="product__new">
                        <h3>Новинки</h3>
                        <div class="product__inner">


                            @{i = 0;

                                foreach (var product in ViewBag.ProductNew)
                                {
                                    if (i++ > 3) { break; }
                                    <div class="widget">
                                        <img src="@product.UrlPath" class="product__img">
                                        <a href="" class="product__description">@product.Name</a>
                                        <div>
                                            <img src="../img/evaluationstar/Star Icon.png" class="product__evaluate">
                                            <img src="../img/evaluationstar/Star Icon.png" class="product__evaluate">
                                            <img src="../img/evaluationstar/Star Icon.png" class="product__evaluate">
                                            <img src="../img/evaluationstar/Star Icon.png" class="product__evaluate">
                                        </div>
                                        <span class="product__available">В наличии</span>
                                        <div>
                                            <span class="product__cost">@product.ArtNo руб.</span>
                                            <a class="product__inbasket" href="/Home/InBusket/@product.ProductId"><img src="../img/vectors/basket.png">В корзину</a>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>

                    <div class="product__hits">
                        <h3>Хиты продаж</h3>
                        <div class="product__inner">

                            @{i = 0;

                                foreach (var product in ViewBag.ProductHit)
                                {
                                    if (i++ > 3) { break; }
                                    <div class="widget">
                                        <img src="@product.UrlPath" class="product__img">
                                        <a href="" class="product__description">@product.Name</a>
                                        <div>
                                            <img src="../img/evaluationstar/Star Icon.png" class="product__evaluate">
                                            <img src="../img/evaluationstar/Star Icon.png" class="product__evaluate">
                                            <img src="../img/evaluationstar/Star Icon.png" class="product__evaluate">
                                            <img src="../img/evaluationstar/Star Icon.png" class="product__evaluate">
                                        </div>
                                        <span class="product__available">В наличии</span>
                                        <div>
                                            <span class="product__cost">@product.ArtNo руб.</span>
                                            <a class="product__inbasket"><img src="../img/vectors/basket.png">В корзину</a>
                                        </div>
                                    </div>
                                }
                            }


                        </div>
                        <span class="product__more">Показать ещё</span>
                    </div>
                </div>
            </div>
            <div class="paper">
                <div class="container">
                    <div class="paper__main">
                        <div class="paper__text">
                            <h1>INTEC:Universe LITE - интернет-магазин с конструктором дизайна на редакции 1C-Битрикс «СТАРТ»</h1>
                            <p>INTEC.UniverseLite - первый конструктор интернет-магазинов на редакции «СТАРТ» 1C-Битрикс. Решение идеально подойдет для быстрого запуска современного и многофункционального интернет-магазина на редакции «СТАРТ», без лишних расходов и привлечения сторонних специалистов. INTEC.UniverseLite может легко трансформироваться в отраслевое решение любой сферы бизнеса</p>
                            <span><br>Подробнее</span>
                        </div>
                        <div class="mainimg"><img src="../img/paper/main.png"></div>
                    </div>

                    <h1 class="paper__articles">Статьи</h1>

                    <div class="paper__other">
                        <div class="paper__section">
                            <img src="../img/paper/minecraft.png">
                            <h3>Оставьте отзыв, чтобы помочь другим</h3>
                            <span>Стильная и независимая. Легко управляйте средствами на вашем счёте. Получайте информацию о ваших финансах, платежах и переводах при помощи сообщений.</span>
                        </div>

                        <div class="paper__section">
                            <img src="../img/paper/terminal.png">
                            <h3>Где купить терминал для эквайринга</h3>
                            <span>Стильная и независимая. Легко управляйте средствами на вашем счёте. Получайте информацию о ваших финансах, платежах и переводах при помощи сообщений.</span>
                        </div>

                        <div class="paper__section">
                            <img src="../img/paper/phone.png">
                            <h3>Как выбрать свой идеальный телефон</h3>
                            <span>Подключите автоплатёж и будьте уверены, что налог оплачен в срок. Вам не придётся тратить время на поиск суммы к уплате в личном кабинете налогоплательщика.</span>
                        </div>
                    </div>

                    <div class="paper__big">
                        <h3>Широкий ассортимент и высокое качество</h3>
                        <p>Каждый из нас понимает очевидную вещь: постоянное информационно-пропагандистское обеспечение нашей деятельности требует определения и уточнения дальнейших направлений развития. Как уже неоднократно упомянуто, базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Являясь всего лишь частью общей картины, непосредственные участники технического прогресса рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p>
                        <p class="readmore">Читать далее</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="subscribe">
        <div class="subscribe__intro">
            <span class="subscribe__news">Подписка на новости</span>
            <input type="text" placeholder="Ваш e-mail">
            <button>Подписаться</button>
        </div>
    </div>
</body>
</html>
